/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px dashed salmon; */
}
img {
    max-width: 100%;
}
/*-------------------
    GENERAL
-------------------*/
.btx{
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 16px;
    color:#f2f7ff ;
}
.btx-blue{
    background-color:#0061ff ;
}
.btx-edge-only{
    border: 1px solid black;
    background-color: white;
    color: black;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 24px;
}
h5{
    font-size: 26px;
}
p{
    font-size: 18px;
}
.contenitor-large{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.contenitor-small{
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}
.relativ{
    position: relative;
}
.col-50pc{
    height: 30vh;
    width: 16vw;
}
.col-20{
    width: 20%;
}
.col-30{
    width: 30%;
}
.col-33{
    width: calc(100% / 3)
}
.col-40{
    width: 40%;
}
.col-50{
    width: 50%;
}
.col-60{
    width: 60%;
}
.col-70{
    width: 70%;
}
.col-100{
    width: 100%;
}
/****HOVER****/
.btx-blue:hover{
    background-color: rgb(101, 112, 212);
}
.btx-edge-only:hover{
    background-color: rgb(241, 237, 237);
}
header li:hover{
    color:#0061ff
}
.section-two .col-33:hover, .col-100:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}
/*-------------------
    HEADER
-------------------*/
header{
    min-height: 80px;
    display: flex;
    position: sticky;
    justify-content: space-between;
    color: #575757;
    padding: 0 14px;
}
header ul{
    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
}
header a{
    text-decoration: none;
    color: inherit;
}
/*-------------------
    MAIN
-------------------*/
/* ------------------------SECTION 1----- */
.section-one{
    height: 770px; 
    background-color: #b4d0e7;  
    transition: 3s ease;
}
.section-one h1{
    font-size: 80px;
    font-weight: 800;
    padding: 70px 0;
}
.section-one .col-30 *{
    margin-bottom: 30px;
}
.section-one i{
    font-size: 40px;
    margin-top: 40px;
}
.section-one .relativ{
    bottom: -20px;
}
/* ------------------------SECTION 2----- */
section:target {
    background-color: lightcyan; 
    animation: highlight 1s forwards; 
}
@keyframes highlight {
    to { background-color: transparent; } 
}
.section-two{
    min-height: 1700px;
}
.section-two h2{
    padding: 150px 0 30px 0; 
}
.input-radio{
    padding: 20px 0 50px 0;
}
.input-radio input:nth-child(2){
    margin-left: 40px;
}
.input-radio input[type="radio"] {
    width: 18px;
    height: 18px; 
    margin-right: 4px;
  }
/* -----------------------COLOMN */
.section-two .col-33{
    border: 1px solid #d0d0d3;
    min-height: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.title-card small{
    color:#6b6866;
}
.section-two .col-33 hr{
    width: 50px;
    margin: 50px 0;
}
.header-card-subscription{
    text-align: center;
    padding: 6px;
    border-bottom: 1px solid #d0d0d3;
}
.card *{
    margin-bottom: 18px;
}
.card{
    padding: 30px 30px;
}
.title-card{
    margin-bottom: 50px;
}
.section-two .col-33 .btx{
    margin: 30px 0;
    width: 100%;
}
.col-33 ul{
    margin-top: 10px;
}
.flex li{
    gap: 10px;
}
.footer-card-subscription ul li::before{
    content: "✔";
    margin-right: 5px;
    color: #0061ff;
}
.section-two .contenitor-small > .flex{
    gap: 50px;
}
.section-two .col-100{
    height: 260px;
    border: 1px solid #d0d0d3;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.section-two .col-100 .btx{
    margin:  32px 32px 0 0;
    width:240px;
}
/* ------------------------SECTION 3----- */
.section-three{
    min-height: 680px;
}
.section-three .flex{
    margin-top: 78px;
}
.section-three .flex *{
    margin-bottom: 20px;
}
.section-three .col-40{
    padding: 54px 56px;
}
.section-three .btx{
    margin-top: 14px;
}
/* ------------------------SECTION 4----- */
.section-four{
    min-height: 1250px;
}
.section-four .flex{
    gap: 50px;
    margin-top: 80px;
}
.section-four h5{
    margin-bottom: 40px;
}
/* ------------------------SECTION 5----- */
.section-five{
    min-height: 500px;
}
.box-title{
    padding-top: 180px;
}
.box-title *{
    margin-bottom: 60px ;
}
/* ------------------------SECTION 6----- */
.section-six{
    min-height: 400px ;
    background-color: #f5f5f5;
}
div.col-33.center{
    padding: 50px 10px 0 50px;
}
div.col-33.center img{
    max-width: 40%
}
div.col-33.center *:not(:last-child){
    margin-bottom: 30px;
}
div.col-33.center hr{
    width: 110px;
    color: #d0d0d3;
}
.section-six .flex{
    flex-wrap: wrap;
}
.section-six .col-33{
    height: 100%;
}
div.col-50pc.flex img{
    max-width: 50%;
    filter: invert(100%);
}
div.col-50pc.flex{
    justify-content: center;
    align-self: center;
}
.edit-special {
    padding-top: 13vh;
}
.edit-special img {
    width: 100%;
    /* height: 95px; */
}

/* ----STYLE BOX---- */
.bg-olive-green{
    background-color: #a2d39b;
}
.bg-dark-red{
    background-color: #61082b;
}
.bg-heavenly{
    background-color: #0093ce;
}
.bg-red{
    background-color: #ff1c1c;
}
.bg-defective-red{
    background-color: #d5001f;
}
.bg-lilac{
    background-color: #b4d0e7;
}
.bg-dark-blue{
    background-color: #0d2481;
}
.bg-yellow{
    background-color:#ffd830;
}
/* ------------------------SECTION 7----- */
.section-seven{
    height: 360px;
    background-color: #b4d0e7;
}
.section-seven h2{
    color: #61082b;
}
.section-seven .flex{
    height: 100%;
    align-items: center;
}
.section-seven .col-50{
    justify-content: end;
}
/* ------------------------SECTION 8----- */
.section-eight{
    min-height: 800px;
}
.simple-box{
    padding-top: 100px;
    border-bottom: 1px solid #999999;
}
.section-eight h2{
    padding: 80px 0;
}
.request{
    padding: 40px 0;
    border-top: 1px solid #999999;
    font-weight: 700;
    font-size: 22p0;
}
.request i{
    margin-left: 350px ;
}
.questions:hover .answer{
    display: block;
}
.answer{
    display: none;
    padding-bottom: 20px;
}
/*-------------------
    FOOTER
-------------------*/
footer{
    min-height: 800px;
    background-color: black;
    color: white;
    
}
footer .col-20 h3{
    padding:30px 0 ;
}
footer .flex{
    gap: 40px;
}
footer .contenitor-large{
    padding: 50px 0;
}
footer ul li{
    margin-bottom: 18px;
}
footer hr{
    width: 126px;
    margin:80px 0 50px 0;
}
.box-footer *{
    color: #999999;
}
footer select{
    background-color: transparent; 
    border: 0 solid transparent;
    font-size: large;
    margin: -30px;
}

